---
layout: default
---

<div class="home">
  
  <p>
    Kurssilla käsitellään ohjelmistotuotantoprojektien hallinnan, työvaiheiden ja työvälineiden perusteita. Erityinen
    painotus ketterissä ohjelmistotuotantomenetelmissä.
  </p>

  <p>
    Kurssin opetusjärjestelyt ja arvosteluperusteet on kuvattu <a href="/osa0/">osassa 0</a>, lue ne tarkasti kun aloitat kurssin!
  </p>

  <h1 class="page-heading">Ajankohtaista</h1>

  <ul>
    <li>Tehtävien palautussovellus <a href='https://study.cs.helsinki.fi/stats/courses/ohtu-ay2020'>https://study.cs.helsinki.fi/stats/courses/ohtu-ay2020</a></li>
    <li>Kurssiin liittyvää keskustelua <a href='https://telegram.me/ohjelmistotuotanto'>Telegramissa</a>, tule mukaan!</li>
    <ul>
      <li>Telegram on whatsappin/messengerin tyylinen keskustelufoorumisovellus, jota on mahdollista käyttää selaimella, mobiililaitteilla ja Windows/Linux/OSX-clienteillä. </li>
      <li><strong>Huom:</strong> kaikki epäasialliset, halventavat ja jotain ihmisryhmää syrjivät kommentit kanavalla ovat kiellettyjä ja tälläisten
      kommenttien esittäjät poistetaan kanavalta</li>
    </ul>
  </ul>

  <hi class="page-heading">Aikataulu</hi>

  <h1 class="page-heading">Kurssimateriaalin tekijä ja lisenssi</h1>
  <p>
    Kurssimateriaalin on tehnyt <a href='https://github.com/mluukkai'>Matti Luukkainen</a>. Lukuisat <a href='https://github.com/ohjelmistotuotanto-hy/ohjelmistotuotanto-hy.github.io/graphs/contributors'>henkilöt</a> ovat parantaneet materiaalin laatua kirjoitus- ja asiavirhekorjauksin. Voit
    <a href='/osa0#typoja-materiaalissa'>osallistua</a> kurssimateriaalin parantamiseen myös itse.
  </p>
  <p> 
    Tämä materiaali on lisensoitu <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 -lisenssillä</a>, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida
    samalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty. 
  </p>
</div>
